<form [formGroup] = "addForm">
    <div class="container">
        <h1 style="text-align: center;">Update Employee</h1>
        <hr>
    
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" id="name" formControlName="name" required>

        <label for="mobile"><b>Mobile No.</b></label>
        <input type="number" placeholder="Enter Mobile Number" name="mobile" id="mobile" formControlName="mobile">

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email" formControlName="email">
    
        <label for="Department"><b>Department</b></label><br><br>
        <select name="department" id="department" formControlName="department">
            <option value="Managed Service">Managed Service</option>
            <option value="Professional Service">Professional Service</option>
            <option value="Product Service">Product Service</option>
            <option value="HR">HR</option>
            <option value="Admin">Admin</option>
            <option value="Finance">Finance</option>
            <option value="Sales & Marketing">Sales & Marketing</option>
        </select>
    
        <button type="submit" class="btn btn-dark" style="margin-right: 15px;" (click)='onSubmit()'>Update</button>
        <button type="reset" class="btn btn-dark">Clear</button>
      </div>
</form>